.background {
  /*   
    opacity: 0.5;  Da opacidad al bloque entero 
    
    ------------------------------------------

    height: 1000px;
    background-color: rgba(171, 160, 182, 0.5);
    background-image: url('amungus.png');
    background-repeat:no-repeat; 
    background-position: center top; 
    background-size: contain;

    SE PUEDEN RESUMIR EN:
    */

    height: 500px;
    background: rgba(171, 160, 182, 0.5) url('amungus.png') repeat-y center top / 100px;
                    /* [color_fondo, imagen, repeat, position, size] */
    background-size: contain; /* indica que hacer con la imagen, fiuera del atajo */
}

.margen {
    background-color: blue;
    margin: 20px;
}