/* Establecer que todoas las etiquetas h1 del html seran asi (sin utilidad real) */
h1 {
    color: blue;
    font-family: fantasy;
}

/* * {
    
    background: rgba(171, 160, 182, 0.5) url('amungus.png') center top;
    background-size: contain;
    height: 500px;
} */

/* assignacion de un estilo a una etiqueta */
#parrafo1 {
    color: chocolate;
}

/* Creacion de una classe que podremos aplicar a distintas etiquetas del html */
.clase_1_css {
    color: blueviolet;
    font-family: fantasy;
    font-size: 20px;
    
}

/* se puede asignar un estilo a mas de un elemento */
.clase2, #etiqueta {
    color: chartreuse;
}


/* todas los parrafos (p) que sean de la clase 3*/
p.clase3{
    color: yellow;
}


/* se aplica a todas las p que tienen como padre un article */
article > p {
    color: aqua;

}


/* revisar selector hijos */
article p {
    color: tomato;
}

/* pseudo class selector
son selectores de clases
*/
a:link, a:visited{ 
    text-decoration: none;
    background-color: darkgoldenrod;
    border: 5px solid burlywood;
    /* displa block indica que estamos trabajando con bloques */
    display: block;
    margin-bottom: 1px;
    text-align: center;
    margin: 5px;
    width: 30%;

}

a:hover, a:active {

    background-color: turquoise;
}


/* todos los did hijos de un section impares tendran un fondo de color x */
section div:nth-child(odd){
    background-color: teal;
}

/* el hijo div de un section numero 4 que al pasar el raton por encima (hover)
pone el fondo de color x
*/
section div:nth-child(4):hover{
    background-color: brown;
    cursor: pointer;
}


/*

Para modificar el aspecto de la pagina html asta con retocar este archivo,
de tal manera que la estructura de la pagina sera estatica

*/